body {
    background-color: #ebedec;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
}

table td{
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #a2a9af;
    position: relative;
}

table .amount_in_row,
table .amount_in_column {
    background-color: #66809c;
    width: 60px;
}

.main_table {

}

.remove_row {
    text-align: center;
    background-color: #ff6768;
}
.add_row {
    background-color: #96ceb4;
}

.sum_percent {
    background-color: rgba(221,10,53,0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mouse_over_el {
    background-color: #fff1c1;
}
.close_value {
    background-color: #fe5f55;
}
